@charset "ISO-8859-1";

body {
	background: url(sfondo_riadattato.jpg);
	background-size: cover;
}

#fotoUtente {
	width: 10.29%;
	height: 7.29%;
	position: absolute;
	left: 85.43%;
	top: 13.14%;
}

p {
	font-size:35px;
	color:white;
}

#Done {
	position:absolute;
	height: 90px;
	width: 390px;
}

#keep {
	position:absolute;
	height: 90px;
	width: 390px;
}

#Discard {
	position:absolute;
	height: 90px;
	width: 390px;
}

#doneBut {
	
	position:absolute;
	top:45%;
	left:42%;
	
	
}

#home {
	width: 20%;
	height: 6.43%;
	position: absolute;
	left: 4.29%;
	top: 4.71%;
}


#manageMenu {
	width: 32.86%;
	height: 6.43%;
	position: absolute;
	left: 27.14%;
	top: 4.71%;
}

#sponsorRestaurant {
	width: 32.86%;
	height: 6.43%;
	position: absolute;
	left: 62.86%;
	top: 4.71%;
}

#back {
	width: 9.29%;
	height: 6.43%;
	position: absolute;
	left: 4.29%;
	top: 13.14%;
}

#keepBut {
	
	position:absolute;
	top:75%;
	left:42%;
	
	
}

#DiscardBut {
	
	position:absolute;
	top: 60%;
	left:42%;
	
	
}
#nomeUtente {
	position: absolute;
	left: 85.43%;
	top: 20.43%;
	color: white;
	font-size: 16px;
	background-color: rgba(0,0,0,0.7);
}


#informazioni {
	position:absolute;
	top: 25%;	
	left:42%;
	background-color: rgba(0,0,0,0.7);
}


