@charset "ISO-8859-1";

#fotoUtente {
	width: 12.29%;
	height: 11.29%;
	position: absolute;
	left: 83.43%;
	top: 13.14%;
}

body {
	background: url(restaurant-mural-wallpaper_23-2148707022.jpg);
	background-size: cover;
}
#nomeUtente {
	position: absolute;
	left: 84.43%;
	top: 25.43%;
	color: white;
	font-size: 11px;
	background-color: rgba(0,0,0,0.7);
}

#home {
	width: 20%;
	height: 6.43%;
	position: absolute;
	left: 4.29%;
	top: 4.71%;
}

#continue {
	position:absolute;
	left: 47%;
	top:85%;	
	width:10em;
	height:5em;
}


#fotoUtente {
	width: 12.29%;
	height: 11.29%;
	position: absolute;
	left: 83.43%;
	top: 13.14%;
}

#area {
	position: absolute;
	top:20%;
	left:26%;
}

#manageMenu {
	width: 32.86%;
	height: 6.43%;
	position: absolute;
	left: 27.14%;
	top: 4.71%;
}

#sponsorRestaurant {
	width: 32.86%;
	height: 6.43%;
	position: absolute;
	left: 62.86%;
	top: 4.71%;
}

#back {
	width: 9.29%;
	height: 6.43%;
	position: absolute;
	left: 4.29%;
	top: 13.14%;
}


#nomeUtente {
	position: absolute;
	left: 84.43%;
	top: 25.43%;
	color: white;
	font-size: 11px;
	background-color: rgba(0,0,0,0.7);
}